<% provide(:title) %>
<div class="center2">
        <div class="hidden-fade">
    
        <%= link_to image_tag("headshot.png", alt: "Catalogue",
                      title: "Catalogue"), catalogue_path %>
    </div>
</div>
