<% provide(:title) %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="center2">
        <%= link_to image_tag("headshot.png", alt: "Catalogue",
                      title: "Catalogue"), catalogue_path %>
</div>
</meta>