<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-dark next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
    <a href="/assets/headshot.png" data-gallery>
        <img src="/assets/full_catalogue.png" alt="Full Catalogue">
    </a>
    <a href="/assets/suit.png" data-gallery></a>
    <a href="/assets/boathouse.png" data-gallery></a>
    <a href="/assets/moore_runway.jpg" data-gallery></a>
    <a href="/assets/nyfw_runway.png" data-gallery></a>
    <a href="/assets/bof_runway.png" data-gallery></a>
    <a href="/assets/moore_show_close.png" data-gallery></a>
</div>