<% provide(:title, "Catalogue") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="center2">
    <%= render 'catalogue' %>
</div>
</meta>