@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc... */

$gray-medium-light: #eaeaea;
$papayawhip: #FFEFD5;
$peachpuff: #FFDAB9;
$floralwhite: #FFFAF0;
$silver: #C0C0C0;
$black: #000000;
$lightslategray: #778899;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

.modal-body {
    background: $black;
}

.modal-footer {
    background: $black;
}



/* universal */

body {
    padding-top: 0px;
    //background: url("b&w_dark.jpg");
    background: $black;
    background-repeat: repeat;
    background-size: 100%;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    opacity: 0.0; 
    filter: alpha(opacity=100); /* For IE8 and earlier */ 
    h1 {
        margin-bottom: 10px;
    }
    
}

.center2 {
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

a {
    color: #555;
    &:hover {
        color: #222;
        text-decoration: none;
    }
}

input, textarea { display: block; }

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3m;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#fixed { 
    height: 10px;
    line-height: 10px;
    padding-top: 0px;
}

div.container2 {
   height: 3em;
   display: flex;
   align-items: center; 
}
div.container2 p {
    margin: 0 
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 0px;
    color: #777;
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

