<div class="container">
<footer class="footer">
    <nav>
        <ul>
            <li><%= link_to "Catalogue", catalogue_path %></li>
            <li><%= link_to "Contact", new_message_url %></li>
        </ul>
    </nav>
    <nav class="nav nav-navbar navbar-left">
        <li>
            <%= render 'layouts/insta_button' %>
        </li>
    </nav>
</footer>
</div>