<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<header class="navbar" id="fixed">
    <div class="container-fluid">
            <nav class="nav navbar-nav navbar-left">
                <div class="container2">
                    <br />
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Menu <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                          <br />
                          <br />
                          <br />
                          <li><%= link_to "Home", root_path %></li>
                          <li><%= link_to "Catalogue", catalogue_path %></li>
                          <li><%= link_to "Contact", new_message_url %></li>
                        </ul>
                      </li>
                </div>      
            </nav>
    </div>
</header>
</meta>